@media(max-width:790px){
  .catalog_wrapper{
    .sidebar_list{
      display: none;
    }
    .col-9{
      flex: 0 0 auto;
      width: 100%;
    }
    .popup_fillters{
      display:flex;
    }
    #sort_fillter{
      margin-left: 0;
      .filter_list{
        left: 0;
      }
    }
  }

  .catalog_list{
    .item{
      .imgs{
        max-height: 517px;
        height: 100%;
        img{
          height:auto;
        }
       .size_list{
         opacity: 1;
         bottom: 10px;
       }
      }
    }
  }

  .scroll_block{
    width: 100%;
    margin: 0 !important;
    .catalog_detail_imgs{
      flex: 0 0 auto;
      width: 100%;
      padding: 0;
    }
    .catalog_detail_description{
      flex: 0 0 auto;
      width: 100%;
    }
    .catalog_detail_imgs{
      .catalog_detail_imgs_list{
        margin-bottom: 20px;
        margin-left: 0;
        margin-right: 0;
        .item{
          width: calc(100%);
          flex: 0 0 100%;
        }
      }
    }
  }
  .owl-carousel .owl-stage-outer{
    padding-left: 0;
    padding-right: 0;
  }
}
@media(max-width:600px){
  .catalog_list{
    .item{
      .imgs{
        height: auto;
        .info{
          width: 30px;
          height: 12px;
          font-size: 10px;
          left: 7px;
          top: 7px;
        }
        .size_list{
          padding: 0 9px;
          bottom: 20px;
          opacity: 1;
          a{
            width: 16px;
            height: 10px;
          }
        }
        img{
          height:auto;
        }

      }
    }
  }
  .catalog_detail_imgs{
    .catalog_detail_imgs_list{

      .item{
        img{
          object-fit: cover;
        }
      }
    }
  }
}
